@font-face {
  font-family: "Idea Alt";
  src: url("fonts/wlm-idea-alt.ttf");
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --light-blue: #75e2e6;
  --dark-blue: #048eaa;
  --background-color: #ffffff;
  --light-text: #ffffff;
  --dark-text: #000000;
}

nav {
  height: 75px;
  background-color: var(--light-blue);
  border-bottom: 3px solid var(--dark-blue);
}

main {
  background-image: url("images/park.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 400px;
}

main img {
  display: block;
  margin: 20px auto;
}

main form {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

main form input {
  margin: 20px auto;
  width: 400px;
  height: 50px;
}

main button {
  background-color: var(--light-blue);
  color: var(--dark-text);
  width: 400px;
  height: 50px;
}

footer {
  background-color: var(--dark-blue);
}

a {
  color: var(--light-text);
}

h1 {
  margin: auto;
  padding: 10px 0px;
  color: var(--light-text);
  text-align: center;
}

section {
  display: inline-block;
  width: 25%;
  margin: 50px 50px;
}

section h2 {
  padding: auto;
}

section p {
  height: 350px;
}

section button {
  background-color: var(--dark-blue);
  color: var(--light-text);
  width: 100%;
  height: 50px;
}

footer {
  height: 200px;
}

.doggos {
  width: 100%;
}

.logos {
  width: 100%;
  margin: auto;
}

.circle-dog {
  width: 150px;
  border: 3px solid var(--dark-blue);
  border-radius: 100%;
}

.logos {
  margin: auto;
}

.nav-links {
  width: 100%;
}

.nav-link {
  color: var(--dark-text);
  float: right;
  margin: 20px 20px;
}

#dog-party-logo {
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 13.5px;
}